extends includes/layout

block body-header
    include includes/header

block head-title

block body-main

    .header-banner
        .contenedor-header
            .banner.color-white
                h1.fontfam4.color-first Company name
                h2.fontfam4.color-first Lorem ipsum dolor sit amet consectetur adipisicing
        .img-header
            img(src="https://img.freepik.com/foto-gratis/colegas-dando-golpe-puno_53876-64857.jpg?w=996&t=st=1652763442~exp=1652764042~hmac=7665cb34bbca1ca3ab8f926e39a991992660f5b1606c452396ece20fb9e1e52c", alt="", srcset="")
       


    .container
        .container-about
            img(src="https://img.freepik.com/foto-gratis/diversas-personas-que-trabajan-oficina_53876-104681.jpg?w=900&t=st=1652763505~exp=1652764105~hmac=ff3c46bfc4c5e25b1e384c636835637e20fc310b35bcba777da9f82e5dbaaec1", alt="", srcset="")
            h2 !Hola Somos Lorem ipsum
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!
            br
            p.text-left Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
            br
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.
        .slider 
            .slider-img-container
                img.mySlide(src="https://img.freepik.com/foto-gratis/gente-negocios-feliz-usando-computadora-portatil_53876-163584.jpg?w=740")
                img.mySlide(src="https://img.freepik.com/foto-gratis/grupo-diversas-personas-que-tienen-reunion_53876-164069.jpg?w=740")
                img.mySlide(src="https://img.freepik.com/foto-gratis/joven-empresario-tableta-digital-oficina_52137-29336.jpg?w=740")
                img.mySlide(src="https://img.freepik.com/foto-gratis/retrato-mujer-que-trabaja-empresa-nueva-creacion_23-2149116507.jpg?w=740&t=st=1652763636~exp=1652764236~hmac=199bca2ed6847181daada1a7e40e58786d88a0b3fa736dda1d424347a3b428ca")
            
                .buttons-container
                    button.slider-button(onclick="plusDivs(-1)") Prev
                    button.slider-button(onclick="plusDivs(1)") Next

    .banner-text-2
        .center
            .text
                h2.color-letter Quidem eos perferendis in voluptas
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis quis ex reprehenderit qui, obcaecati nobis. Repellat hic reprehenderit sint dolores laudantium harum debitis consequuntur voluptatibus maiores ipsa? Soluta, laborum amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.
            .text-img 
                img(src="https://img.freepik.com/foto-gratis/chef-cocina_23-2148006182.jpg?w=740&t=st=1652154506~exp=1652155106~hmac=566906431842fe8de637a05fc2fa64699742a589c5f9e0bf85619618e5b63415", alt="")
        
            

block body-footer
  include includes/footer
