extends includes/layout

block body-header
    include includes/header

block head-title

block body-main

    .container
        .container-about
            img(src="https://img.freepik.com/foto-gratis/chef-mujer-vertiendo-cuidadosamente-salsa-sobre-plato_23-2148763167.jpg?w=740&t=st=1652151881~exp=1652152481~hmac=025ecd7db52f84cac21d4e7ef7ba9fbb15d11c697cde3e266bf1967da94440a6", alt="", srcset="")
            h2.text-left.about-title.fontfam4.font-s !Hola Somos Lorem ipsum
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!
            br
            p.text-left Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
            br
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.

        .slider 
            .slider-img-container
                img.mySlide(src="https://img.freepik.com/foto-gratis/vista-lateral-chef-flameando-plato-cocina_23-2148763118.jpg?t=st=1652151881~exp=1652152481~hmac=82740a3100b0302007c83dca9ab3dabef79d1ccf58ce0b7e496f91fc501229d1&w=740")
                img.mySlide(src="https://img.freepik.com/foto-gratis/chef-macho-cortando-tomates-cocina_23-2148763116.jpg?w=740&t=st=1652154508~exp=1652155108~hmac=359afdefa8419c6811ef4ee84b613b28a4043210252ffe53b15cb7e7b51507fa")
                img.mySlide(src="https://img.freepik.com/foto-gratis/chef-cocina_23-2148006182.jpg?w=740&t=st=1652154506~exp=1652155106~hmac=566906431842fe8de637a05fc2fa64699742a589c5f9e0bf85619618e5b63415")
                img.mySlide(src="https://img.freepik.com/foto-gratis/vista-frontal-chef-preparando-masa_23-2148763226.jpg?w=740&t=st=1652154570~exp=1652155170~hmac=f46708bf910f424b18273013f3ab3caf3422c67fec9e12ffa66bddc2a0333441")
            
                .buttons-container
                    button.slider-button(onclick="plusDivs(-1)") Prev
                    button.slider-button(onclick="plusDivs(1)") Next

            

block body-footer
  include includes/footer
