extends includes/layout

block body-header
    include includes/header

block head-title

block body-main

    .header-banner
        .contenedor-header
            .banner.color-white
                h1.fontfam4.color-white Aviso Legal
        .img-header
            img(src="https://img.freepik.com/foto-gratis/colegas-dando-golpe-puno_53876-64857.jpg?w=996&t=st=1652763442~exp=1652764042~hmac=7665cb34bbca1ca3ab8f926e39a991992660f5b1606c452396ece20fb9e1e52c" alt="" srcset="")



    .container
            h2.text-left.about-title.fontfam3.font-xl Objeto y Aceptacion
         
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
            
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.
        
        
            h2.text-left.about-title.fontfam3.font-xl Condiciones de acceso y utilización

            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
            
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.

            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
            
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.
            
            ul 
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit mollitia blanditiis animi, at maxime qui cum, nemo asperiores soluta nisi placeat. Maiores asperiores voluptates incidunt officiis veniam reprehenderit aliquam?
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
                li  
                     p.text-left Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum rem vero molestias, harum sit consectetur. Quam ex atque laborum unde ipsum saepe possimus, non reprehenderit, natus alias delectus odit! Sequi.
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit mollitia blanditiis animi, at maxime qui cum, nemo asperiores soluta nisi placeat. Maiores asperiores voluptates incidunt officiis veniam reprehenderit aliquam?
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
                li  
                     p.text-left Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum rem vero molestias, harum sit consectetur. Quam ex atque laborum unde ipsum saepe possimus, non reprehenderit, natus alias delectus odit! Sequi.

            h2.text-left.about-title.fontfam3.font-xl Identificación y comunicaciones
         
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
            
            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.
            
            h2.text-left.about-title.fontfam3.font-xl Publicaciones

            ul 
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit mollitia blanditiis animi, at maxime qui cum, nemo asperiores soluta nisi placeat. Maiores asperiores voluptates incidunt officiis veniam reprehenderit aliquam?
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
                li  
                     p.text-left Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum rem vero molestias, harum sit consectetur. Quam ex atque laborum unde ipsum saepe possimus, non reprehenderit, natus alias delectus odit! Sequi.

            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.   
            
            h2.text-left.about-title.fontfam3.font-xl Procedimiento en caso de realización de actividades de carácter ilícito

            p.text-left Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, accusantium, eum nulla neque cum libero consequatur ipsam optio fugit autem enim ratione expedita quia nostrum veniam dolorem odio qui blanditiis.    
           
            ul 
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit mollitia blanditiis animi, at maxime qui cum, nemo asperiores soluta nisi placeat. Maiores asperiores voluptates incidunt officiis veniam reprehenderit aliquam?
                li  
                     p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magnam qui veniam soluta deserunt tempora nemo omnis unde cupiditate ullam, architecto error numquam commodi, odio quibusdam nesciunt eveniet rem consequuntur!.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nam temporibus fugit quos assumenda accusamus expedita, asperiores, veritatis est, non architecto nemo ipsam tempora quia eum? Aut possimus eius repellat?
                li  
                     p.text-left Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum rem vero molestias, harum sit consectetur. Quam ex atque laborum unde ipsum saepe possimus, non reprehenderit, natus alias delectus odit! Sequi.

            p.text-left Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, dolore aspernatur ab earum animi, laudantium odit ipsum enim, aut consequatur quaerat veritatis quo blanditiis ex ullam officiis tempore debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus aliquid aut vel, omnis sunt, temporibus voluptates ab, soluta officia nemo et fuga. Atque doloribus culpa aliquam obcaecati vel possimus.   

block body-footer
    include includes/footer
