extends includes/layout

block body-header
    include includes/header

block head-title


block body-main



    .header-banner
        .contenedor-header
            .banner.color-white
                h4.fontfam3.color-first Welcome To
                h1.fontfam4.color-first Blog's
        .img-header
            img(src="https://img.freepik.com/foto-gratis/vista-aerea-computadora-portatil-concepto-hobby-fotografia-mesa-madera_53876-24773.jpg?t=st=1652763091~exp=1652763691~hmac=1bbbc96f2e83c5a5899924f13a0a475f68a88d111a125ac8b0969710a49bc39f&w=740" alt="" srcset="")
    .container-blog
        .container-menu
            .card
                .card-img
                    img(src="https://img.freepik.com/foto-gratis/vista-frontal-mensajero-femenino-comida-entrega-postre-pared-amarilla_179666-35190.jpg?w=740&t=st=1652763158~exp=1652763758~hmac=e52d4e7fc676e4b41f5704ab092af99a1e4e013ac399ea90a515f173b1159ed5")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz

                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?

                    button.continue Seguir leyendo
            hr

            .card
                .card-img
                    img(src="https://img.freepik.com/vector-gratis/fondo-plano-consejos-utiles_23-2148174276.jpg?w=740&t=st=1652763240~exp=1652763840~hmac=ee08f347cefbde67f4e7336a48c970bf6450ec6443163b621c271f9317569049")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz

                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?

                    button.continue Seguir leyendo
            hr

            .card
                .card-img
                    img(src="https://img.freepik.com/foto-gratis/retrato-mujer-trabajadora-servicio-al-cliente_144627-37943.jpg?w=740&t=st=1652763270~exp=1652763870~hmac=5716b0d60a2243a508d51fc537bbc0d05e78ee9e8196424f84b8f3a3b6520b1a")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz

                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?

                    button.continue Seguir leyendo
            hr

            .card
                .card-img
                    img(src="https://img.freepik.com/vector-gratis/agente-call-center-auriculares-clientes-consultoria_1262-21456.jpg?w=740&t=st=1652763305~exp=1652763905~hmac=2906d5a1976f178fbc525135ae6ad7abe5a0bb790566bb12e97af92cfa2b7c69")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz

                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?

                    button.continue Seguir leyendo
            hr
            
        .container-categories-tags 
            .container-box 
                    .title.back-color-first
                        h2 Categories 
                    #list-categories
                        ul.lista-wrap
                            li.margin-li
                                a(href="http://", onClick='return true') Section
                            li.margin-li
                                a(href="http://", onClick='return true') Aside
                            li.margin-li
                                a(href="http://", onClick='return true') Header
                            li.margin-li
                                a(href="http://", onClick='return true') Body
                            li.margin-li
                                a(href="http://", onClick='return true') Container
                            li.margin-li
                                a(href="http://", onClick='return true') HTML
                            li.margin-li
                                a(href="http://", onClick='return true') JavaScript
                            li.margin-li
                                a(href="http://", onClick='return true') Css
            .container-box 
                    .title.back-color-first
                        h2 Tags  
                    #list-tags
                        ul.lista-wrap
                            li.margin-li
                                a(href="http://", onClick='return true') Section
                            li.margin-li
                                a(href="http://", onClick='return true') Aside
                            li.margin-li
                                a(href="http://", onClick='return true') Header
                            li.margin-li
                                a(href="http://", onClick='return true') Body
                            li.margin-li
                                a(href="http://", onClick='return true') Container
                            li.margin-li
                                a(href="http://", onClick='return true') HTML
                            li.margin-li
                                a(href="http://", onClick='return true') JavaScript
                            li.margin-li
                                a(href="http://", onClick='return true') Css
                            li.margin-li
                                a(href="http://", onClick='return true') David
                            li.margin-li
                                a(href="http://", onClick='return true') UX - UI
                            li.margin-li
                                a(href="http://", onClick='return true') Colombia


block body-footer
    include includes/footer