extends includes/layout

block body-header
  include includes/header

block head-title


block body-main
    
    .container-blog

        .header-banner
            .contenedor-header
                .banner.color-white
                    h4.fontfam3 Welcome To
                    h1.fontfam4 Blog's
            .img-header
                img(src="https://img.freepik.com/foto-gratis/trozos-filete-pollo-champinones-guisados-salsa-tomate-brocoli-hervido-arroz-nutricion-apropiada-estilo-vida-saludable-menu-dietetico-vista-superior_2829-20015.jpg?t=st=1651779416~exp=1651780016~hmac=794b99cb5400d8fb89d67ec36e8f04c46e2b74b12b40b0324933eb8156104754&w=900", alt="", srcset="")
       
        .container-menu
            .card
                .card-img
                    img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz
                    .color-black
                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
                    .but-content
                    button.continue Seguir leyendo
            hr

            .card
                .card-img
                    img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz
                    .color-black
                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
                    .but-content
                    button.continue Seguir leyendo
            hr

            .card
                .card-img
                    img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz
                    .color-black
                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
                    .but-content
                    button.continue Seguir leyendo
            hr

            .card
                .card-img
                    img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
                .card-info 
                    .card-title.fontfam3.color-black
                        h4 Praesentium, tenetur 
                        h6 Juan Pablo Diaz
                    .color-black
                    a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
                    .but-content
                    button.continue Seguir leyendo
            hr


block body-footer
  include includes/footer