extends includes/layout

block body-header
    include includes/header

block head-title

block body-main
    .header-banner
            .contenedor-header
                .banner.color-white
                    h1.fontfam4.color-first Categories
            .img-header
                img(src="https://img.freepik.com/foto-gratis/mujer-sosteniendo-tarjeta-visita-blanco_53876-120096.jpg?w=740&t=st=1653013650~exp=1653014250~hmac=78de5ee9df79223f7f4717030a6cec96957769193ed94d55655037b376a289e4" alt="" srcset="")
        
    .container-cat-tag
                .container-box-cat-tag 
                        .title.back-color-first
                            h2 Categories 
                        .list-cat-tag
                            ul
                                li
                                    a(href="/blog", onClick='return true') Section
                                li
                                    a(href="/blog", onClick='return true') Aside
                                li
                                    a(href="/blog", onClick='return true') Header
                                li
                                    a(href="/blog", onClick='return true') Body
                                li
                                    a(href="/blog", onClick='return true') Container
                                li
                                    a(href="/blog", onClick='return true') HTML
                                li
                                    a(href="/blog", onClick='return true') JavaScript
                                li
                                    a(href="/blog", onClick='return true') Css

block body-footer
  include includes/footer
