extends includes/layout

block body-header
  include includes/header

block head-title

block body-main

    .header-banner
      .contenedor-header
        .banner.color-white
            h1.fontfam4.color-letter Contact
            h2.fontfam4.color-first ¿Lorem ipsum dolor sit amet consectetur adipisicing ?
      .img-header
        img(src="https://img.freepik.com/foto-gratis/pongase-contacto-servicio-asistencia-al-cliente-concepto-grafico-nave-espacial_53876-124946.jpg?w=740&t=st=1652762101~exp=1652762701~hmac=810e1238e71a1d80f35316264ba99db464858bb3c9a37214a7681d2a9f708504", alt="", srcset="")

    .container
      .border-m.border-color-black
        .contact
          h1.fontfam3 Contacto
          .d-flex-contact
            section
              p.font-xs.fontfam3 ¡Hola! Para ponerte en contacto con nosotros, rellena este formulario o envíanos un email a <span>ejemplo@ejemplo.com</span>       
            aside
              form(id='contactForm' name='contactForm').form
                input#name(type='text', placeholder='Nombre' name='name' title='nombre', required)
                input#email(type='email', placeholder='Email' name='email' title='email' required)
                input#tel.form-control(type='text', placeholder='Teléfono' name='tel' title='telefono')
                textarea#msg(type='text', placeholder='Mensaje' name='msg' title='mensaje')
                input#bpriva(type='submit' value="submit")

block body-footer
  include includes/footer