extends includes/layout

block body-header
  include includes/header

block head-title

block body-main

    .header-banner
      .contenedor-header
        .banner.color-white
            h1.fontfam4 Post Title
            h2.fontfam4 ¿Lorem ipsum dolor sit amet consectetur adipisicing ?
      .img-header
        img(src="https://img.freepik.com/foto-gratis/trozos-filete-pollo-champinones-guisados-salsa-tomate-brocoli-hervido-arroz-nutricion-apropiada-estilo-vida-saludable-menu-dietetico-vista-superior_2829-20015.jpg?t=st=1651779416~exp=1651780016~hmac=794b99cb5400d8fb89d67ec36e8f04c46e2b74b12b40b0324933eb8156104754&w=900", alt="", srcset="")

    .container
      .border-m.border-color-black
        .contact
          h1.fontfam3 Contacto
          .d-flex-contact
            section
              p.font-xs.fontfam3 ¡Hola! Para ponerte en contacto con nosotros, rellena este formulario o envíanos un email a <span>ejemplo@ejemplo.com</span>       
            aside
              form(id='contactForm' name='contactForm').form
                input#name(type='text', placeholder='Nombre' name='name' title='nombre', required)
                input#email(type='email', placeholder='Email' name='email' title='email' required)
                input#tel.form-control(type='text', placeholder='Teléfono' name='tel' title='telefono')
                textarea#msg(type='text', placeholder='Mensaje' name='msg' title='mensaje')
                input#bpriva(type='submit' value="submit")

block body-footer
  include includes/footer