extends includes/layout

block body-header
  include includes/header

block head-title

block body-main

  .container-home
    img.behind(src="https://img.freepik.com/foto-gratis/deliciosa-comida-vietnamita-que-incluye-pho-ga-fideos-rollitos-primavera-mesa-blanca_181624-34062.jpg?t=st=1651781407~exp=1651782007~hmac=e8c25c1618a10338fd2cbeba8025f2f3243372df4f524d50c492c76645a969d7&w=740", alt="", srcset="")

    .gradiente
      .banner-home
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi in aliquam delectus natus! Aperiam necessitatibus assumenda ipsum neque iste hic beatae adipisci dicta consequatur, tenetur sed deleniti, incidunt provident deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cumque quo, harum eveniet deleniti neque asperiores totam distinctio laborum tenetur dolor delectus adipisci vel corporis id temporibus assumenda iste consequatur?

  .container-menu

    .blog-logo
      img(src="../img/Logo2.png", alt="", srcset="")


    // cards
    .card
      .card-img
        img(src="https://img.freepik.com/foto-gratis/ensalada-pechuga-pollo-parrilla-vegetales-frescos-tomates-pepinos-hojas-lechuga-ensalada-pollo-comida-sana_2829-4246.jpg?w=740&t=st=1651782707~exp=1651783307~hmac=3bfad7027fbda35da8c6c2ca004d7b315457f44707bf93b4c34d6904776e49b5")
      .card-info 
        .card-title.fontfam3.color-black
          h4 Praesentium, tenetur
        .color-black
          a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
        .but-content
          button.continue Seguir leyendo
    hr
    
    .card
      .card-img
        img(src="https://img.freepik.com/foto-gratis/vista-lateral-tarta-queso-gelatina-cereza-parte-superior-plato-blanco_141793-2955.jpg?size=626&ext=jpg&ga=GA1.2.1040559141.1651697434")
      .card-info 
        .card-title.fontfam3.color-black
          h4 Praesentium, tenetur
        .color-black
          a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
        .but-content
          button.continue Seguir leyendo
    hr



    .card
      .card-img
        img(src="https://img.freepik.com/foto-gratis/deliciosa-comida-vietnamita-que-incluye-pho-ga-fideos-rollitos-primavera-mesa-blanca_181624-34062.jpg?t=st=1651781407~exp=1651782007~hmac=e8c25c1618a10338fd2cbeba8025f2f3243372df4f524d50c492c76645a969d7&w=740")
      .card-info 
        .card-title.fontfam3.color-black
          h4 Praesentium, tenetur
        .color-black
          a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
        .but-content
          button.continue Seguir leyendo
    hr


    .card
      .card-img
        img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
      .card-info 
        .card-title.fontfam3.color-black
          h4 Praesentium, tenetur
        .color-black
          a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
        .but-content
          button.continue Seguir leyendo
    hr


block body-footer
  include includes/footer