extends includes/layout

block body-header
  include includes/header

block head-title

block body-main
  .header-banner
    .contenedor-header
      .banner.color-white
        h4.fontfam3 Welcome To
        h1.fontfam4 BANAKY
        h2.fontfam4 Lorem ipsum dolor sit amet consectetur adipisicing
    .img-header.blur
      img(src="https://img.freepik.com/foto-gratis/grupo-personas-trabajando-plan-negocios-oficina_1303-15874.jpg?w=740&t=st=1652564868~exp=1652565468~hmac=b87066129ab2173a5b7761975e5650187883de0fbd565f0939295d3794e9bef2" alt="" srcset="")

  .banner-text2 
    .center
      .text
        h2.font-xl.color-first Quidem eos perferendis in voluptas
        p.font-xxl Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.
        p.font-xxl Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, officiis nisi eaque unde fugit iure sequi impedit quibusdam porro esse vel! Obcaecati quaerat asperiores blanditiis ratione similique, velit reiciendis beatae!
      .text-img 
        img(src="https://img.freepik.com/foto-gratis/ilustracion-3d-smartphone-pantalla-blanco-cajas-carton-concepto-servicio-envio-comercio-electronico_58466-14530.jpg?w=740&t=st=1652578166~exp=1652578766~hmac=7926b5d925680730328de7b50ce053d67459639b9a7c4a74c762a7d74e61bc83" alt="")


  .banner-index 
    h2.font-xl.color-first Quidem eos perferendis in voluptas
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatum odit sit laudantium, nam doloribus ullam dicta iusto debitis dignissimos rerum, doloremque eveniet suscipit voluptatem, exercitationem at quasi quod. Quaerat?  
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.

  .container-home
    img.behind(src="https://img.freepik.com/foto-gratis/empresarios-mujeres-negocios-milenio-asia-encuentran-ideas-lluvia-ideas-sobre-nuevos-colegas-proyecto-papeleo-que-trabajan-juntos-planificar-estrategia-exito-disfrutan-trabajo-equipo-pequena-moderna-oficina-nocturna_7861-2386.jpg?t=st=1652565913~exp=1652566513~hmac=2fcc097327a49732eea9fc6ef3b617ac45ddd5194fc955aeb3a9e09d50d3a069&w=900" alt="" srcset="")

    .gradiente
      .banner-home
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi in aliquam delectus natus! Aperiam necessitatibus assumenda ipsum neque iste hic beatae adipisci dicta consequatur, tenetur sed deleniti, incidunt provident deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cumque quo, harum eveniet deleniti neque asperiores totam distinctio laborum tenetur dolor delectus adipisci vel corporis id temporibus assumenda iste consequatur?

  .services-container-home 
    .home-title-services
      h2.font-xl.color-first Nuestros Servicios
    .box-services
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/joven-lider-equipo-gran-corporacion-informando-companeros-trabajo-apuntando-al-grafico-reunion-personal-corporativo_482257-4169.jpg?w=740" alt="" srcset="")
          .card-service-content
            h2 Service number 1
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/silueta-ejecutivos-comerciales-seguros_1098-1768.jpg?w=740&t=st=1652576951~exp=1652577551~hmac=cfd6216aa03b0539151f7b06243ee1ab154c03ef1cd4a799cc9821f20af47906" alt="" srcset="")
          .card-service-content
            h2 Service number 2
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/personas-que-participan-eventos-negocios_23-2149333691.jpg?w=740&t=st=1652576965~exp=1652577565~hmac=85209bc56194ca10a819f3ac0cf4c257bb05473d1cb2658b13550339210cd37a" alt="" srcset="")
          .card-service-content
            h2 Service number 3
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/young-it-service-man-reparacion-computadora_1303-19460.jpg?w=740&t=st=1652577606~exp=1652578206~hmac=11e6754cf090cb155ee927363fa2928a0c70d22cd482c00d1e04af4ec6df05cb" alt="" srcset="")
          .card-service-content
            h2 Service number 4
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/concepto-guia-soluciones-soporte-servicio_53876-120451.jpg?t=st=1652577343~exp=1652577943~hmac=78370f56a0e6e6320bc720d3afbb33ea88065ae4f45e34c92c763a9fd068392c&w=740" alt="" srcset="")
          .card-service-content
            h2 Service number 5
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/retrato-reunion-compania-planificacion-empleados-masculinos-computadora-portatil-usando-internet-linea-investigar-revision-proyecto-trabajador-oficina-analizando-tablas-presentacion-graficos-computadora_482257-39457.jpg?w=900&t=st=1652577489~exp=1652578089~hmac=e8c5f6a5ef14301c859c42035259ff679b3a78ba1ec86410fced64fdb7e817d4" alt="" srcset="")
          .card-service-content
            h2 Service number 6
      .card-service 
        a(href="/service" onClick='return true') 
          img(src="https://img.freepik.com/foto-gratis/tableta-explotacion-mujer-tiro-medio_23-2149151168.jpg?w=740&t=st=1652577481~exp=1652578081~hmac=4fe464ce163b566e6c8227b4932042c7671af4819cbc806439e7162436a89ce4" alt="" srcset="")
          .card-service-content
            h2 Service number 7

  .testimonials-slider-home
    .testimonials-home
      .testimonials-text 
        h2.testimonials-title.font-xs.fontfam4.color-first Testimonials
        h3.testimonials-subtitle.color-white ¿Por qué nos prefieren?
        .fa-solid.fa-quote-right.fa-xl.color-white
        p.color-white.font-s Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum corporis odio praesentium harum quam blanditiis non inventore, similique dolorum. Ducimus, laboriosam. Ipsa amet perspiciatis aliquam rerum fugit omnis est asperiores.
        .testimonials-photo
          img(src="https://img.freepik.com/foto-gratis/feliz-usuaria-tecnologia-cabello-rubio-sostiene-telefono-inteligente-feliz-chatear-linea-su-novio-usa-poses-sombrero-puente-contra-fondo-rosa-estudio-tecnologia-celular-concepto-red_273609-59749.jpg?w=740&t=st=1652583896~exp=1652584496~hmac=fcc10b5250ae12bbcab0ce5bca0e773db3241be55958f4e78b4b06ed29c0a53d" alt="" srcset="")
        h3.testimonials-name.color-white.fontfam5-font-s Vanessa Londoño
        p.testimonials-position.color-white.font-xs Diseñadora de Modas
      .testimonials-img
        img(src="https://img.freepik.com/foto-gratis/dos-colegas-fabrica_1303-14082.jpg?w=740&t=st=1652578137~exp=1652578737~hmac=4bd5f23683f1bcb265202b9f8a7d008c3f78b16c895077c0fe88259fb521f069" alt="" srcset="")
    

    .testimonials-home
      .testimonials-text 
        h2.testimonials-title.font-xs.fontfam4.color-first Testimonials
        h3.testimonials-subtitle.color-white ¿Por qué nos prefieren?
        .fa-solid.fa-quote-right.fa-xl.color-white
        p.color-white.font-s Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur quidem fuga minima exercitationem neque aliquid, inventore libero fugiat labore a ea provident cumque nemo dolores aperiam? Excepturi sequi obcaecati blanditiis.
        .testimonials-photo
          img(src="https://img.freepik.com/foto-gratis/primer-plano-chico-alegre-feliz-anteojos_74855-2697.jpg?w=740&t=st=1652734296~exp=1652734896~hmac=ecf8fab78c1a9b0a989d0e9068f261b40b47ede23b9ffbf06d6eafedf99e9a61" alt="" srcset="")
        h3.testimonials-name.color-white.fontfam5-font-s Mario Burbano
        p.testimonials-position.color-white.font-xs Ingeniero en Sistemas
      .testimonials-img
        img(src="https://img.freepik.com/foto-gratis/equipo-atencion-al-cliente-lugar-trabajo_74855-4034.jpg?w=740&t=st=1652734903~exp=1652735503~hmac=9588f2decd6f0d9d2d0b8e704f95d4c6e15a97e572e1750d6d22faffa099a72a" alt="" srcset="")


    .testimonials-home
      .testimonials-text 
        h2.testimonials-title.font-xs.fontfam4.color-first Testimonials
        h3.testimonials-subtitle.color-white ¿Por qué nos prefieren?
        .fa-solid.fa-quote-right.fa-xl.color-white
        p.color-white.font-s Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem omnis, itaque praesentium enim architecto reiciendis harum eaque eum excepturi blanditiis id eveniet quasi doloribus labore dicta temporibus atque quia earum.
        .testimonials-photo
          img(src="https://img.freepik.com/foto-gratis/feliz-mujer-latina-alegre-posando_74855-2902.jpg?w=360&t=st=1652734306~exp=1652734906~hmac=1802f5f487b51338377c6507c3200bd438502ec2deb2e1db8cc9c19c51093298" alt="" srcset="")
        h3.testimonials-name.color-white.fontfam5-font-s Stella Guamanga
        p.testimonials-position.color-white.font-xs Diseñadora de Interiores
      .testimonials-img
        img(src="https://img.freepik.com/foto-gratis/mujer-joven-microfono-trabajando-estudio-grabacion_1303-26330.jpg?w=740&t=st=1652734830~exp=1652735430~hmac=9b434a57f049591621bed502e207ec10a51d4c55569f9363a2a40c06a958a5b8" alt="" srcset="")

    .buttons-testimonials
            button.slider-button(onclick="plusDivsTestimonials(-1)") Prev
            button.slider-button(onclick="plusDivsTestimonials(1)") Next


  //- .banner-text 
  //-   p.font-m Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos perferendis in voluptas delectus! Blanditiis, odio? Tempore aspernatur, nostrum aliquam assumenda provident, dolores saepe id eligendi, ab beatae quia natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea natus magnam, odit atque quidem deserunt dolore, maiores numquam exercitationem excepturi assumenda sint, illo perspiciatis veritatis iste ullam ipsa temporibus laborum. Lorem ipsums dolor sit amet consectetur adipisicing elit. Deserunt libero in debitis illum consequatur quaerat officia. Quo, aspernatur necessitatibus consectetur vero minus nulla totam iure quam iste molestias, cum eos!


  .banner-text-img 
    .banner-title.color-first
      h3 Nuestros clientes
      .color-black.back-color-white.fontfam3.font-xs
        p Lorem ipsums dolor sit amet consectetur adipisicing elit. c illum consequatur quaerat officia. Quo, aspernatur necessitatibus consectetur vero minus nulla totam iure quam iste molestias, cum eos!
    .banner-img
      ul.img
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-comida-mexicana-nachos-cantando_23-2147703874.jpg?w=740&t=st=1652243848~exp=1652244448~hmac=cd4758522703e84cf922b6b359a6eac28237d752d59ed70dcb470bbf91404957" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-coche-comida_23-2147760022.jpg?w=740&t=st=1652243861~exp=1652244461~hmac=9eda4e72451c6174e59f1fbfabe10d90696e683f53e9a7b96f9efbd21b905e63" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/concepto-fondo-moderno-dia-internacional-comida_23-2147929048.jpg?w=740&t=st=1652243856~exp=1652244456~hmac=e3192f949eae7389c2aafc408517a697261434b072fedd9c92807967453a80e6" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-comida-mexicana-nachos-cantando_23-2147703874.jpg?w=740&t=st=1652243848~exp=1652244448~hmac=cd4758522703e84cf922b6b359a6eac28237d752d59ed70dcb470bbf91404957" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-coche-comida_23-2147760022.jpg?w=740&t=st=1652243861~exp=1652244461~hmac=9eda4e72451c6174e59f1fbfabe10d90696e683f53e9a7b96f9efbd21b905e63" alt="" srcset="")

  .banner-text-img 
      .banner-title.color-first 
        h2 Algunos de nuestros trabajos


  .container 
    .container-about
      .slider 
        .slider-img-container
          img.mySlide(src="https://img.freepik.com/foto-gratis/vista-lateral-chef-flameando-plato-cocina_23-2148763118.jpg?t=st=1652151881~exp=1652152481~hmac=82740a3100b0302007c83dca9ab3dabef79d1ccf58ce0b7e496f91fc501229d1&w=740")
          img.mySlide(src="https://img.freepik.com/foto-gratis/chef-macho-cortando-tomates-cocina_23-2148763116.jpg?w=740&t=st=1652154508~exp=1652155108~hmac=359afdefa8419c6811ef4ee84b613b28a4043210252ffe53b15cb7e7b51507fa")
          img.mySlide(src="https://img.freepik.com/foto-gratis/chef-cocina_23-2148006182.jpg?w=740&t=st=1652154506~exp=1652155106~hmac=566906431842fe8de637a05fc2fa64699742a589c5f9e0bf85619618e5b63415")
          img.mySlide(src="https://img.freepik.com/foto-gratis/vista-frontal-chef-preparando-masa_23-2148763226.jpg?w=740&t=st=1652154570~exp=1652155170~hmac=f46708bf910f424b18273013f3ab3caf3422c67fec9e12ffa66bddc2a0333441")

          .buttons-container
            button.slider-button(onclick="plusDivs(-1)") Prev
            button.slider-button(onclick="plusDivs(1)") Next

  //- .container-menu
  //-   .card
  //-     .card-img
  //-       img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
  //-     .card-info 
  //-       .card-title.fontfam3.color-black
  //-         h3 Praesentium, tenetur 
  //-         p.font-xs Juan Pablo Diaz
  //-       .color-black
  //-       a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
  //-       .but-content
  //-       a.continue(href="/post" target="_blank" onClick='return true') Seguir leyendo
  //-   hr
block body-footer
  include includes/footer