extends includes/layout

block body-header
  include includes/header

block head-title

block body-main
  .header-banner
    .contenedor-header
      .banner.color-white
          h4.fontfam3 Welcome To
          h1.fontfam4 BANAKY
          h2.fontfam4 Lorem ipsum dolor sit amet consectetur adipisicing
    .img-header
      img(src="https://img.freepik.com/foto-gratis/trozos-filete-pollo-champinones-guisados-salsa-tomate-brocoli-hervido-arroz-nutricion-apropiada-estilo-vida-saludable-menu-dietetico-vista-superior_2829-20015.jpg?t=st=1651779416~exp=1651780016~hmac=794b99cb5400d8fb89d67ec36e8f04c46e2b74b12b40b0324933eb8156104754&w=900", alt="", srcset="")

  .container-home
    img.behind(src="https://img.freepik.com/foto-gratis/deliciosa-comida-vietnamita-que-incluye-pho-ga-fideos-rollitos-primavera-mesa-blanca_181624-34062.jpg?t=st=1651781407~exp=1651782007~hmac=e8c25c1618a10338fd2cbeba8025f2f3243372df4f524d50c492c76645a969d7&w=740" alt="" srcset="")

    .gradiente
      .banner-home
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi in aliquam delectus natus! Aperiam necessitatibus assumenda ipsum neque iste hic beatae adipisci dicta consequatur, tenetur sed deleniti, incidunt provident deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cumque quo, harum eveniet deleniti neque asperiores totam distinctio laborum tenetur dolor delectus adipisci vel corporis id temporibus assumenda iste consequatur?

  .container-menu
    .card
      .card-img
          img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740")
      .card-info 
          .card-title.fontfam3.color-black
              h3 Praesentium, tenetur 
              p.font-xs Juan Pablo Diaz
          .color-black
          a.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
          .but-content
          a.continue(href="/post", target="_blank",onClick='return true') Seguir leyendo
    hr



  .banner-text 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos perferendis in voluptas delectus! Blanditiis, odio? Tempore aspernatur, nostrum aliquam assumenda provident, dolores saepe id eligendi, ab beatae quia natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea natus magnam, odit atque quidem deserunt dolore, maiores numquam exercitationem excepturi assumenda sint, illo perspiciatis veritatis iste ullam ipsa temporibus laborum. Lorem ipsums dolor sit amet consectetur adipisicing elit. Deserunt libero in debitis illum consequatur quaerat officia. Quo, aspernatur necessitatibus consectetur vero minus nulla totam iure quam iste molestias, cum eos!
    ul 
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iure cum, nam natus possimus corrupti ab sequi? Et ex ipsam minus atque perferendis possimus, nemo, dignissimos, necessitatibus nihil esse iste.
      li 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatum odit sit laudantium, nam doloribus ullam dicta iusto debitis dignissimos rerum, doloremque eveniet suscipit voluptatem, exercitationem at quasi quod. Quaerat?  
    h3 Quidem eos perferendis in voluptas
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.


  .banner-text2 
    .center
      .text
        h3 Quidem eos perferendis in voluptas
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.
      .text-img 
        img(src="https://img.freepik.com/foto-gratis/chef-cocina_23-2148006182.jpg?w=740&t=st=1652154506~exp=1652155106~hmac=566906431842fe8de637a05fc2fa64699742a589c5f9e0bf85619618e5b63415", alt="")
      
  
  .banner-text-img 
    .banner-title.color-white
      h3 Deserunt libero in debitis consequatur quaerat officia
    .banner-text
      p Lorem ipsums dolor sit amet consectetur adipisicing elit. c illum consequatur quaerat officia. Quo, aspernatur necessitatibus consectetur vero minus nulla totam iure quam iste molestias, cum eos!
    .banner-img
      ul.img
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-comida-mexicana-nachos-cantando_23-2147703874.jpg?w=740&t=st=1652243848~exp=1652244448~hmac=cd4758522703e84cf922b6b359a6eac28237d752d59ed70dcb470bbf91404957" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-coche-comida_23-2147760022.jpg?w=740&t=st=1652243861~exp=1652244461~hmac=9eda4e72451c6174e59f1fbfabe10d90696e683f53e9a7b96f9efbd21b905e63" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/concepto-fondo-moderno-dia-internacional-comida_23-2147929048.jpg?w=740&t=st=1652243856~exp=1652244456~hmac=e3192f949eae7389c2aafc408517a697261434b072fedd9c92807967453a80e6" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-comida-mexicana-nachos-cantando_23-2147703874.jpg?w=740&t=st=1652243848~exp=1652244448~hmac=cd4758522703e84cf922b6b359a6eac28237d752d59ed70dcb470bbf91404957" alt="" srcset="")
        li
          img(src="https://img.freepik.com/vector-gratis/fondo-coche-comida_23-2147760022.jpg?w=740&t=st=1652243861~exp=1652244461~hmac=9eda4e72451c6174e59f1fbfabe10d90696e683f53e9a7b96f9efbd21b905e63" alt="" srcset="")
      

  .container 
    .container-about
      .slider 
        .slider-img-container
            img.mySlide(src="https://img.freepik.com/foto-gratis/vista-lateral-chef-flameando-plato-cocina_23-2148763118.jpg?t=st=1652151881~exp=1652152481~hmac=82740a3100b0302007c83dca9ab3dabef79d1ccf58ce0b7e496f91fc501229d1&w=740")
            img.mySlide(src="https://img.freepik.com/foto-gratis/chef-macho-cortando-tomates-cocina_23-2148763116.jpg?w=740&t=st=1652154508~exp=1652155108~hmac=359afdefa8419c6811ef4ee84b613b28a4043210252ffe53b15cb7e7b51507fa")
            img.mySlide(src="https://img.freepik.com/foto-gratis/chef-cocina_23-2148006182.jpg?w=740&t=st=1652154506~exp=1652155106~hmac=566906431842fe8de637a05fc2fa64699742a589c5f9e0bf85619618e5b63415")
            img.mySlide(src="https://img.freepik.com/foto-gratis/vista-frontal-chef-preparando-masa_23-2148763226.jpg?w=740&t=st=1652154570~exp=1652155170~hmac=f46708bf910f424b18273013f3ab3caf3422c67fec9e12ffa66bddc2a0333441")
        
            .buttons-container
                button.slider-button(onclick="plusDivs(-1)") Prev
                button.slider-button(onclick="plusDivs(1)") Next
  
block body-footer
  include includes/footer