extends includes/layout

block body-header
  include includes/header

block head-title

block body-main

  .header-banner
    .contenedor-header
      .banner.color-white
          h1.fontfam4 Post Title
          h2.fontfam4 ¿Lorem ipsum dolor sit amet consectetur adipisicing ?
    .img-header
      img(src="https://img.freepik.com/foto-gratis/vista-frontal-mensajero-femenino-comida-entrega-postre-pared-amarilla_179666-35190.jpg?w=740&t=st=1652763158~exp=1652763758~hmac=e52d4e7fc676e4b41f5704ab092af99a1e4e013ac399ea90a515f173b1159ed5", alt="", srcset="")

  .container-post
        .title-post
          h1 Lorem ipsum dolor sit amet

        .author 
          .authorname David Burbano
          .dateauthor  13 de mayo 2022


        .text-post.color-black 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa excepturi earum vel, soluta ex est corporis, officia eum ratione odio pariatur nostrum officiis reiciendis iusto harum, minima rem molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet delectus sapiente ipsa laudantium ea quibusdam minima enim hic at provident. Tempore, est ab? Tempore eaque fugit cum iste, ducimus corrupti!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
        .subtitle-post
          h2.color-first Voluptates numquam deleniti repudiandae!
        .text-post.color-black 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa excepturi earum vel, soluta ex est corporis, officia eum ratione odio pariatur nostrum officiis reiciendis iusto harum, minima rem molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet delectus sapiente ipsa laudantium ea quibusdam minima enim hic at provident. Tempore, est ab? Tempore eaque fugit cum iste, ducimus corrupti!
       
        .container-img      
          .img-post
              img(src="https://img.freepik.com/foto-gratis/elemento-webscape_1150-1791.jpg?w=740&t=st=1652849468~exp=1652850068~hmac=fb408259161199d0d0ec099fc4145f62b5c1a8d901f56afcad09c5870743b4f8", alt="", srcset="")
        
        .list-text-post
          ul 
            li.post-list  
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            li.post-list   
              p Quia dignissimos laborum, provident recusandae cum quidem delectus.
            li.post-list 
              p Reius voluptatibus exercitationem eaque ipsum nihil explicabo blanditiis.
            li.post-list 
              p Fodre dimp voluptatibus exercitationem eaque ipsum nihil explicabo blanditiis.
            li.post-list 
              p Lorem ipsum dolor, sit amet consectetur adipisicing Exercitationem.
            li.post-list 
              p Ducimus natus repellat rerum assumenda ex pariatur.
            li.post-list 
              p Ducimus natus repellat rerum assumenda ex pariatur.
            li.post-list 
              p Ducimus natus repellat rerum assumenda ex pariatur.
            li.post-list 
              p Ducimus natus repellat rerum assumenda ex pariatur.
            li.post-list 
              p Ducimus natus repellat rerum assumenda ex pariatur.
            li.post-list 
              p Ducimus natus repellat rerum assumenda ex pariatur.

        .text-post.color-black 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
        .subtitle-post
          h2.color-first Voluptates numquam deleniti repudiandae!
        .text-post.color-black 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa excepturi earum vel, soluta ex est corporis, officia eum ratione odio pariatur nostrum officiis reiciendis iusto harum, minima rem molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet delectus sapiente ipsa laudantium ea quibusdam minima enim hic at provident. Tempore, est ab? Tempore eaque fugit cum iste, ducimus corrupti!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
        
        .list-img-post 
          ul.list-wrap
            li.img-post-list 
              img(src="https://img.freepik.com/vector-gratis/ilustracion-plana-soporte-al-cliente_23-2148899114.jpg?w=740&t=st=1652849281~exp=1652849881~hmac=1b05ca1b3add10214b3ffa9be4f732d3b3d8e3a55fe4eb822585cccae045b43f", alt="", srcset="")
            li.img-post-list 
              img(src="https://img.freepik.com/vector-gratis/ilustracion-soporte-al-cliente-plano-organico_23-2148899134.jpg?w=740&t=st=1652849301~exp=1652849901~hmac=c4ae62cd3dc22fbda3e9869adae1de7bfc49fde1174fb35ffa19514a0934376d", alt="", srcset="")
            li.img-post-list 
              img(src="https://img.freepik.com/vector-gratis/ilustracion-soporte-al-cliente-plano-organico_23-2148899159.jpg?w=740", alt="", srcset="")
            
        .text-post.color-black 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa excepturi earum vel, soluta ex est corporis, officia eum ratione odio pariatur nostrum officiis reiciendis iusto harum, minima rem molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet delectus sapiente ipsa laudantium ea quibusdam minima enim hic at provident. Tempore, est ab? Tempore eaque fugit cum iste, ducimus corrupti!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam deleniti repudiandae! Hic deserunt, dolore, laboriosam adipisci ipsum iste ex in incidunt recusandae dignissimos non tempore vel rerum quos soluta.
        .subtitle-post
          br
          h3 Tambien te puede interesar:
        .container-blog
          .container-menu
            .card
              .card-img
                  img(src="https://img.freepik.com/foto-gratis/joven-morena-sueter-casual-blanco-aislado-pared-purpura_343596-5601.jpg?w=740&t=st=1652849464~exp=1652850064~hmac=b0d80766cfc2d4d83fd2bc5f72b848bb29493b04320994d3c972d0a1ed748933")
              .card-info 
                  .card-title.fontfam3.color-black
                      h3 Praesentium, tenetur 
                      p.font-xs Juan Pablo Diaz
                  .color-black
                  p.text-card Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, sunt necessitatibus! Animi atque aperiam odit, rerum quis officiis voluptatum libero consectetur ea quibusdam voluptas. Eaque culpa explicabo vel non reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam tenetur odit ex quisquam eaque iure blanditiis veritatis fugit dolore eius commodi, ipsum quis tempora eum nostrum adipisci! Praesentium, tenetur?
                  .but-content
                  a.continue(href="/post", target="_blank",onClick='return true') Seguir leyendo
            hr
block body-footer
  include includes/footer