extends includes/layout

block body-header
  include includes/header

block head-title

block body-main
  .container-services
    .serviceS 
      .serviceS-img
        img(src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-13.jpg?w=740" alt="" srcset="")
      .text-content 
        .title-text 
          h4 Lorem ipsum dolor sit amet
          p Lorem ipsum, consectetur adipisicing elit. Maiores libero, eligendi facere fugiat porro temporibus molestiae ullam nulla? Ipsum doloremque facere numquam perferendis alias dolorum voluptatum sint culpa aliquam quae!
        .text 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. A magnam laboriosam odit laborum consequatur quis possimus ullam id nisi dolores in veritatis animi maxime et quod, aut consectetur vero.

      .wrapcontent
        .services-list
          h4 Nuestros Servicios
          ul.serviceS-List
            li.slist
              a(href="/service") Service consectetur adipisicing elit.
            li.slist 
              a(href="/service") Service adipisicing elit.
            li.slist
              a(href="/service") Service ipsum dolor sit amet.
            li.slist
              a(href="/service") Service consectetur adipisicing elit.
            li.slist 
              a(href="/service") Service adipisicing elit.
            li.slist
              a(href="/service") Service ipsum dolor sit amet.  

block body-footer
  include includes/footer