extends includes/layout

block body-header
  include includes/header

block head-title

block body-main
  
  .header-banner
    .contenedor-header
        .banner.color-white
            h4.fontfam3.color-first Welcome To
            h1.fontfam4.color-first Services
            h2.fontfam4.color-letter Lorem ipsum dolor sit amet consectetur adipisicing
    .img-header
      img(src="https://img.freepik.com/foto-gratis/concepto-entrega-retrato-apuesto-repartidor-o-mensajero-afroamericano-que-muestra-tableta-verificar-pedido-aislado-espacio-copia-fondo-estudio-gris_1258-102512.jpg?w=996&t=st=1652761575~exp=1652762175~hmac=543ef4815a46a2e5846a33156aafe7772e630c156535df47039d2ec077d8ae3d", alt="", srcset="")


  .container-services.back-color-white.color-letter
  
    .serviceS
      .serviceS-img
        img(src="https://img.freepik.com/foto-gratis/empresaria-trabajando-almacen_329181-12810.jpg?t=st=1652739071~exp=1652739671~hmac=dd0bf974c1123328bf0ec059ca42268b8fd43698a51e07ddc692427acefebbec&w=740" alt="" srcset="")
      .text-content 
        .title-text
          h2 Lorem ipsum dolor sit amet
          p Lorem ipsum, consectetur adipisicing elit. Maiores libero, eligendi facere fugiat porro temporibus molestiae ullam nulla? Ipsum doloremque facere numquam perferendis alias dolorum voluptatum sint culpa aliquam quae!
        .text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. A magnam laboriosam odit laborum consequatur quis possimus ullam id nisi dolores in veritatis animi maxime et quod, aut consectetur vero.

      .wrapcontent
        .services-list
          h4 Nuestros Servicios
          ul.serviceS-List
            li.color-first.slist
              a.color-first(href="/service",onClick='return true') Service consectetur adipisicing elit.
            li.color-first.slist 
              a.color-first(href="/service",onClick='return true') Service adipisicing elit.
            li.color-first.slist
              a.color-first(href="/service",onClick='return true') Service ipsum dolor sit amet.
            li.color-first.slist
              a.color-first(href="/service",onClick='return true') Service consectetur adipisicing elit.
            li.color-first.slist 
              a.color-first(href="/service",onClick='return true') Service adipisicing elit.
            li.color-first.slist
              a.color-first(href="/service",onClick='return true') Service ipsum dolor sit amet.  

block body-footer
  include includes/footer