extends includes/layout

block body-header
    include includes/header

block head-title

block body-main

    .header-banner
        .contenedor-header
            .banner.color-white
                h1.fontfam4.color-first Service
                h2.fontfam4.color-first Lorem ipsum dolor sit amet consectetur adipisicing
        .img-header
            img(src="https://media-exp1.licdn.com/dms/image/C561BAQEVhc7gIjmWBg/company-background_10000/0/1572921653755?e=1653368400&v=beta&t=QGJPW09lToTdant_teUYGSQNQtmty9GTeFPInoveTyM", alt="", srcset="")

    .container-services
        .text-content 
            .banner-text3
                h1.title-service Quidem eos perferendis in voluptas
                p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.
                p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla deleniti dolorum, est laudantium dolores, recusandae corrupti itaque libero mollitia ducimus saepe minus architecto tempora similique doloremque numquam, rerum exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quod odit deleniti! Accusamus omnis tempora natus. Dicta soluta est, pariatur at iure numquam nobis iste accusantium aliquam id incidunt minus!

            .service
                .service-img 
                    .serviceTitle.text-title
                        h2.color-black Lorem ipsum dolor, sit amet consectetur adipisicing elit
                        img(src="https://img.freepik.com/foto-gratis/mensajero-joven-que-da-panel-tactil-clienta-firmar-entrega-foco-mujer-afroamericana_637285-1264.jpg?w=740&t=st=1652762532~exp=1652763132~hmac=efdb66a946260ff2d99d85ae11031cb3be844738b7b0fb9d7e604dea8c9b3189 " alt="" srcset="")
                .service-texto 
                    .text-title
                        h2 Lorem ipsum dolor, sit amet consectetur adipisicing elit
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto cum perferendis et provident molestiae animi necessitatibus quod quasi explicabo. Consectetur nisi voluptatum dignissimos maiores, eum saepe quidem harum et asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt labore, exercitationem quibusdam dolor vel sequi illum. Quod ducimus praesentium in, rerum error eveniet veritatis, sit quia molestiae, quibusdam inventore!

            .banner-text3
                h2.title-service Quidem eos perferendis in voluptas
                p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.
                p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla deleniti dolorum, est laudantium dolores, recusandae corrupti itaque libero mollitia ducimus saepe minus architecto tempora similique doloremque numquam, rerum exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quod odit deleniti! Accusamus omnis tempora natus. Dicta soluta est, pariatur at iure numquam nobis iste accusantium aliquam id incidunt minus!

            .service2
                .service-texto 
                    .text-title
                        h2 Lorem ipsum dolor, sit amet consectetur adipisicing elit
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto cum perferendis et provident molestiae animi necessitatibus quod quasi explicabo. Consectetur nisi voluptatum dignissimos maiores, eum saepe quidem harum et asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt labore, exercitationem quibusdam dolor vel sequi illum. Quod ducimus praesentium in, rerum error eveniet veritatis, sit quia molestiae, quibusdam inventore!
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime modi possimus tempora magni magnam, quam ipsum atque fuga! Dolorem, enim. Aliquam pariatur dolorem accusamus! Esse tenetur mollitia unde voluptates.
                .service-img 
                    .serviceTitle.text-title
                        h2.color-black Lorem ipsum dolor, sit amet consectetur adipisicing elit
                        img(src="https://img.freepik.com/foto-gratis/cliente-feliz-aprobando-producto-o-servicio_1262-16184.jpg?w=740&t=st=1652762978~exp=1652763578~hmac=e949efabbe4e9c2d346b05890b50f063f0db1192adeeb565d723f85621bf9777" alt="" srcset="")

            .banner-text3
                h3.title-service Quidem eos perferendis in voluptas
                p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente, architecto quidem, consequatur aut atque nihil beatae expedita aperiam deleniti quia. Qui natus praesentium eveniet nulla sit hic expedita vitae.
                p.font-xs Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla deleniti dolorum, est laudantium dolores, recusandae corrupti itaque libero mollitia ducimus saepe minus architecto tempora similique doloremque numquam, rerum exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quod odit deleniti! Accusamus omnis tempora natus. Dicta soluta est, pariatur at iure numquam nobis iste accusantium aliquam id incidunt minus!

            .banner-text-img
                .banner-title.color-white
                    h2.color-first Clientes que prefieren nuestro servicio
                .banner-img
                    ul.img.back-color-white
                        li
                            img(src="https://img.freepik.com/vector-gratis/fondo-comida-mexicana-nachos-cantando_23-2147703874.jpg?w=740&t=st=1652243848~exp=1652244448~hmac=cd4758522703e84cf922b6b359a6eac28237d752d59ed70dcb470bbf91404957" alt="" srcset="")
                        li
                            img(src="https://img.freepik.com/vector-gratis/fondo-coche-comida_23-2147760022.jpg?w=740&t=st=1652243861~exp=1652244461~hmac=9eda4e72451c6174e59f1fbfabe10d90696e683f53e9a7b96f9efbd21b905e63" alt="" srcset="")
                        li
                            img(src="https://img.freepik.com/vector-gratis/concepto-fondo-moderno-dia-internacional-comida_23-2147929048.jpg?w=740&t=st=1652243856~exp=1652244456~hmac=e3192f949eae7389c2aafc408517a697261434b072fedd9c92807967453a80e6" alt="" srcset="")
                        li
                            img(src="https://img.freepik.com/vector-gratis/fondo-comida-mexicana-nachos-cantando_23-2147703874.jpg?w=740&t=st=1652243848~exp=1652244448~hmac=cd4758522703e84cf922b6b359a6eac28237d752d59ed70dcb470bbf91404957" alt="" srcset="")
                        li
                            img(src="https://img.freepik.com/vector-gratis/fondo-coche-comida_23-2147760022.jpg?w=740&t=st=1652243861~exp=1652244461~hmac=9eda4e72451c6174e59f1fbfabe10d90696e683f53e9a7b96f9efbd21b905e63" alt="" srcset="")

            .banner-button
                a(href="/contact", target="_blank",onClick='return true').contacto.parpadea ¡Contactanos Ahora mismo!




            
block body-footer
    include includes/footer