movil = 'screen and (max-width 576px)'
tablet = 'screen and (max-width 768px)'
escritorio-s = 'screen and (max-width 992px)'

header
  height 100vh
  position relative

.contenedor-header
  width 100%
  height 100%
  display flex
  justify-content center
  text-align center

  .banner
    display flex
    flex-direction column 
    height 90vh
    width 100%
    padding-top 90px
    padding-right  70px
    padding-left 70px
    padding-bottom  70px
    margin-top -40px
    z-index 1
    @media movil
      margin-top 45px
      z-index 0
      font-size 20px
      padding: 0
    @media tablet
      margin-top 45px
      z-index 0
      font-size 20px
      padding: 0  
    

  h1,h2,h4
    margin-top auto
    margin-bottom  auto


.nav
  width 100%
  height 80px
  background white
  position absolute
  bottom 0
  border-top 2px solid white
  display flex
  justify-content center
  @media movil
    top 0
    justify-content: flex-end
  @media tablet
    top 0
    justify-content: flex-end

  .contenido-list
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    text-align center
    position: relative
    @media movil
      z-index 5
      justify-content: flex-end
    @media tablet
      z-index 5
      justify-content: flex-end

  .d-flex-list
    display flex
    list-style none
    position relative
    @media tablet
      display none
      font-size 60px
      width 100%
      background rgba(255, 255, 255, 0.952)
      position absolute
      top 78  px
      z-index 5
      flex-direction column
      text-align center
      align-items center
      justify-content: center

  li
    width 100%
    display: flex
    flex-direction: column
    text-align center
    align-items center
    justify-content: center


  .d-flex-list li:hover
    background rgb(218, 218, 218)   

  .link-style   
    font-size 18px
    margin 20px
    text-transform uppercase
    text-decoration none
    color rgb(131, 131, 131)
    font-weight 100
    font-family 'Roboto Mono', monospace
    z-index 2
    position: relative
    width: 100%
    @media movil
      margin 10px
      font-size 20px
      width: 100%
    @media escritorio-s
      margin 8px
      
    

  .fa-bars
    display none
    @media movil
      display flex
      cursor pointer
      margin-right: 20px
    @media tablet
      display flex
      cursor pointer
      margin-right: 20px

  .link-stylehover
    font-weight 700


 .img-header img
  width 100%
  height 99%
  object-fit cover
  filter blur(2px)
  z-index 0
  position absolute
  top 0
  left 0

  .openMenu
    display flex

.display-none
  display none
  width: 100%
  flex-direction: flex
  flex-direction: column
  text-align: left

.display-none:hover
  display flex


.fa-angle-down
  display: flex
  align-items: center
  justify-content: center
  font-size: 20px
  cursor pointer
  color #fac000
.fa-angle-down:hover
  font-size: 24px
  color #d3a203

.subMenu
  display: flex
  margin 0px 20px
  @media tablet
    margin 0px 0px

.divide
  height 4vh
  display none
  background white
  position absolute
  width 100%
  margin 0
  border 1px solid white
  bottom 0
  @media movil
    display block
  @media tablet
    display block
.absolute-logo
    position: absolute
    left: 2%
    height: 80px
    @media escritorio-s
      margin-top 5px
      height: 70px
      left: 1.5%
    @media tablet
      
      left: 5%

    img
      height 100%
  

