footer
    .footer-container
        .footer-logo
            img(src="../img/Logo3.png" alt="" srcset="" id="logoFooter")
            label(for="logoFooter").color-white.fontfam5 Lorem
        .contactUs
            .center
                ul.footer-list.fontfam5.font-xs.footer-style.color-white
                    li 
                        a Odga95@gmail.com
                    li 
                        a +57 3168173053
                    li 
                        a +57 3168173053
                    li 
                        a Cali - Colombia Calle 21A # 23 - 22
        .social-networks.color-white
            .center
                ul.footer-list.fontfam5.font-xs
                    li 
                        a.footer-style 
                            .fa-brands.fa-instagram.size-icon
                    li 
                        a.footer-style 
                            .fa-brands.fa-facebook.size-icon
                    li 
                        a.footer-style
                            .fa-brands.fa-twitter.size-icon
                ul.footer-list.fontfam5.font-xs
                    li 
                        a.footer-style instagram
                    li 
                        a.footer-style facebook
                    li 
                        a.footer-style twitter
            
                