footer
    .footer-container
        .footer-logo-contactUs
            .footer-logo
                img(src="https://img.freepik.com/vector-gratis/rgb-basico_638109-14.jpg?w=740" alt="" srcset="" id="logoFooter")
                .social-networks.color-white
                    .center
                        ul.footer-list.fontfam5.font-xs
                            li 
                                a.footer-style 
                                    .fa-brands.fa-instagram.size-icon
                            li 
                                a.footer-style 
                                    .fa-brands.fa-facebook.size-icon
                            li 
                                a.footer-style
                                    .fa-brands.fa-twitter.size-icon
                            li 
                                a.footer-style
                                    .fa-brands.fa-tiktok
                            li 
                                a.footer-style
                                    .fa-brands.fa-linkedin-in
                        ul.footer-list.fontfam5.font-xs
                            li 
                                a(href="#", onClick='return true').footer-style instagram
                            li 
                                a(href="#", onClick='return true').footer-style facebook
                            li 
                                a(href="#", onClick='return true').footer-style twitter
                            li 
                                a(href="#", onClick='return true').footer-style tiktok
                            li 
                                a(href="#", onClick='return true').footer-style twitter
            .contactUs
                .center
                    ul.footer-list.fontfam5.footer-style.color-white
                        li 
                            h3 Contacto
                            a.font-xs Odga95@gmail.com
                        li 
                            h3 Atención al cliente
                            a.font-xs +57 3160000002
                        li  
                            h3 Departamento Comercial
                            a.font-xs +57 3160000002
                        li 
                            h3 Ubicación
                            a.font-xs Cali - Colombia SS120 2001 
        .footer-recent.back-color-white
            .box-recent
                h2.fontfam5.color-first Blogs recientes
                .recent
                    img(src="https://img.freepik.com/foto-gratis/vista-frontal-mensajero-femenino-comida-entrega-postre-pared-amarilla_179666-35190.jpg?w=740&t=st=1652763158~exp=1652763758~hmac=e52d4e7fc676e4b41f5704ab092af99a1e4e013ac399ea90a515f173b1159ed5", alt="")
                    a(href="/post", onClick='return true').color-letter.fontfam5  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .recent
                    img(src="https://img.freepik.com/vector-gratis/fondo-plano-consejos-utiles_23-2148174276.jpg?w=740&t=st=1652763240~exp=1652763840~hmac=ee08f347cefbde67f4e7336a48c970bf6450ec6443163b621c271f9317569049", alt="")
                    a(href="/post", onClick='return true').color-letter.fontfam5   Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit.
                .recent
                    img(src="https://img.freepik.com/vector-gratis/agente-call-center-auriculares-clientes-consultoria_1262-21456.jpg?w=740&t=st=1652763305~exp=1652763905~hmac=2906d5a1976f178fbc525135ae6ad7abe5a0bb790566bb12e97af92cfa2b7c69", alt="")
                    a(href="/post", onClick='return true').color-letter.fontfam5   Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit.
    



    .legal
        a(href="/post",onClick='return true').fontfam5.font-s.color-white Condiciones generales de garantía                
        a(href="/post",onClick='return true').fontfam5.font-s.color-white Aviso legal                 
        a(href="/post",onClick='return true').fontfam5.font-s.color-white Politica de privacidad                 
        a(href="/post",onClick='return true').fontfam5.font-s.color-white Politica de Cookies      
        a(href="/post",onClick='return true').fontfam5.font-s.color-white Mapa del sitio