header
    .nav
        .absolute-logo
                        img(src="https://img.freepik.com/vector-gratis/rgb-basico_638109-14.jpg?w=740", alt="")
        .contenido-list
        
            #menuIcon.fa-solid.fa-bars.fa-2x
            ul#menuList.d-flex-list
                li
                    a.subMenu.link-style(href="/index", onClick='return true') Home
                li.list-submenu
                    a.subMenu.link-style(href="/services", onClick='return true') Services
                        
                    #subMenu.fa-solid.fa-angle-down
                
                    ul#subMenuList.display-none.absolute
                        li
                            a.link-style(href="/service", onClick='return true') Service
                        li
                            a.link-style(href="/service", onClick='return true') Service
                        li
                            a.link-style(href="/service", onClick='return true') Service
                        li 
                            a.link-style(href="/service", onClick='return true') Service
                li
                    a.link-style(href="/post", onClick='return true') Post
                li
                    a.link-style(href="/blog", onClick='return true') Blog
                li
                    a.link-style(href="/about", onClick='return true') About
                li
                    a.link-style(href="/contact", onClick='return true') Contact
    hr.divide    